MatchSweet/Unity/Library/
MatchSweet/Unity/ProjectSettings/
MatchSweet/Unity/obj/
MatchSweet/Unity/Logs/
MatchSweet/Unity/Packages/manifest.json
MatchSweet/Unity/Packages/packages-lock.json
MatchSweet/Unity/Temp/FSTimeGet-1f63c5e38c20fcc46b5a266d7d4b0b02
MatchSweet/Unity/Temp/PropertyDatabase_1265138678
MatchSweet/Unity/Temp/PropertyDatabase_2066312223
MatchSweet/Unity/Temp/UnityLockfile
MatchSweet/Unity/Temp/workerlic
MatchSweet/Unity/Temp/__Backupscenes/0.backup
MatchSweet/Unity/UserSettings/EditorUserSettings.asset
MatchSweet/Unity/UserSettings/Layouts/default-2021.dwlt
MatchSweet/Unity/.vsconfig
MatchSweet/Unity/Assembly-CSharp.csproj
MatchSweet/Unity/ignore.conf
MatchSweet/Unity/Unity.sln
